body {
    background-color: #fcfcfc;
    color: #151414;
    font-family: Arial, sans-serif;
}

.grid line {
    stroke: #cccccc;
    stroke-opacity: 0.7;
    stroke-dasharray: 2, 2;
}

.tooltip {
    position: absolute;
    background: #ffffff;
    color: #000000;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    opacity: 0;
    /* Initially hidden */
}
.axis path,
.axis line {
    stroke: #d01919;
}

.candlestick-up {
    fill: #4caf50;
}

.candlestick-down {
    fill: #f44336;
}