

/*  C4D3 is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This file is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  /* #card1{
    flex: 0em;
    border: 1px solid yellow;
  }

  #card2{
    margin-right: 2px;
    margin-left: 2px;

  } */


.module_group_div_photo { position: absolute; left:   8px; top:    18px; bottom: 10px;}
.module_group_div_title { position: absolute; left:  200px; top:    18px; text-align: justify; }


.module_group_photo       { width: 160px; border: 30px ;  }


.module_group_photo:hover { border-color: #808080; }

.module_group_update { color: #a0a0a0; font-size: 10px; text-align: center; }

.module_group_order { font-size: 20px; margin:5px; margin-bottom: 10px; font-weight: bolder; }
.module_group_person { font-size: 20px; margin:7px; font-weight: bold; }
.module_group_degree { color: #050404; font-size: 20px;  margin:7px; }
.module_group_domain { color: #0f0e0e; font-size: 18px;   margin:7px; }
.module_group_university { color: #0f0e0e; font-size: 18px;  margin:7px;  }
.module_group_email{ color: #0f0e0e; font-size: 18px;  margin:7px;  }

