
/*  C4D3 is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This file is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

body {
    background-color: lightblue;
    text-align: left;
    max-width: 1100px;
    min-width: 720px;
    margin: 0 auto;
    margin-left: 100px;
  }
  
  h1 {
    color: rgb(2, 2, 2);
    text-align: center;
    margin-bottom: 50px;
    
  }
  
  p {
    font-family: "Times New Roman", Times, serif;;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }

  #rect {
    
    stroke-width:3;
    stroke:rgb(0,0,0);
    font-size:300%;
    opacity: 100%;
  }

  #fontValue {
    font-weight:bold;
    
    font-size:100%;
  }

  #text {
    font-weight:bold;
    font-size: 100px;
  }

  #pdf{
    float:right;
    
  }