
/*  C4D3 is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This file is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(2, 2, 2);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #rectangle {
    
    stroke-width:3;
    stroke:rgb(0,0,0);
    font-size:300%;
    opacity: 100%;
        
  }

  #fontValue {
    font-weight:bold;
    
    font-size:75%;
  }




  #text1, #text2 {
    font-weight:bold;
    font-size: 50px;
  }

  #pdf{
    float:right;
    
  }

  #date {

    font: 1em sans-serif;

  }

#sentance1 {
width: 250;
height: 150;

}

#sentance {

    font-size: medium;
}


.Slider,  .rectangle {

  border-style: double;
  height: 350px;
  width: 50%;

}

.box1, .box2 {

  border-style: double;
  height: 245px;
  width: 50%;
  resize: none;

}

.fontvalue, .sentance {

  border-style: double;
  height: 145px;
  

}


.parent1{

  display: flex;
 
}

.parent2{

  display: flex;

}


#Reference {
   border-style: none;
   position: absolute;
   z-index: 1;
   background-color: #f1f1f1;
   text-align: center;
   border: 1px solid #d3d3d3;
   top: 800px;
   left: 100px;
}


#box1{
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 450px;
  left: 50px;
  
}

#box2{
  position: absolute;
  z-index: 2;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 450px;
  left: 500px; 
}


.fontvalue{
  position: absolute;
  z-index: 3;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 100px;
  left: 850px

}

#sentance1{
  position: absolute;
  z-index: 4;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top:250px;
  left: 750px;
  
}

#rectangle{
  position: absolute;
  z-index: 4;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top:80px;
  left: 20px;
  
}

.slider{
  position: absolute;
  z-index: 4;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top:250px;
  left: 250px;
  
}

.canvas{
  position: absolute;
  z-index: 4;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 400px;
  left: 150px;
  
}

.scatterplot{
  position: absolute;
  z-index: 4;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 400px;
  left: 150px;
  
}



#box1header, #box2header, .fontvalueheader, #sentance1header, #Referenceheader,
 #rectangleheader, .sliderheader,.textAreaheader,.scatterplotheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}


.fontvalueheader:hover,.sliderheader:hover ,.rectangleheader:hover, .canvasheader, .scatterplotheader{
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(33, 107, 243);
  color: #fff;
}

#wrapper {
  overflow:scroll;
}



#close {
  float:right;
  display:inline-block;
  padding:9px 9px;
  background:rgb(73, 209, 243);
  border-radius: 10%; 
  border-color: black;
  margin-right: 3px;
  margin-top: 1px;
  
  
}

#close:hover{
  background:rgb(247, 25, 25);
  cursor: pointer;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}