
/*  This is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This file is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

body {
    background-color: white;
      
    text-align: left;
    max-width: 1100px;
    min-width: 720px;
    margin: 0 auto;
    margin-left: 100px;
    padding: 0 20px;

    border: #333;
  }


  h1 {
    color: rgb(2, 2, 2);
    text-align: center;
  }
  
  p {
    font-family: "Times New Roman", Times, serif;;
    font-size: 16px;
    
  }



.textExample
{
  background-color: #afdfad;
  text-align: center;
  width: 1000px;

}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 242, 243);
  color: black;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  margin: 0 auto;
  
  padding: 0 20px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-right: 0;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(84, 92, 91);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


#selected{
  background-color: rgb(197, 40, 40);
}



